@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

.textfont {
  font-family: "Figtree", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

:root {
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  line-height: 1.1;
}

#projects {
  min-height: 100vh;
  background-color: black;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
